# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Wigo.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore encodings.xml
encodings.xml

# Ignore indexLayout.xml
indexLayout.xml

# Ignore vcs.xml
vcs.xml